$color: #475467;
.workNote{
    color: $color;
    line-height: 25px;
    text-align: center;
    padding-bottom: 60px;
}
.workWithUs{
    padding-left: 50px;
    color: $color;
}
.workHeading{
    text-align: left;
    padding-left: 50px;
    color:#101828;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.2px;
}
.viewPosition{
    background-color: #5324FB;
    margin-left: 50px;
    color:#FFF;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
}