.product-management{
    display: flex;
    padding: 50px 32px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    p{
        color: #475467;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

}