.cohort-container{
background-color: #155EEf;
color: #ffffff;
text-align: center;
padding: 20px;
.title{
    color: #ffffff;
}
button{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px;
    padding: 10px;
    width: 200px;
}
.arrow{
    margin-left: 5px;
}
}